<section class="sas-search-results">
  <h1 class="sas-search-result__headline">
    You searched for: {{ searchQuery }}
  </h1>
  <ul class="sas-search-result__collection sas-collection">
    {{#each artistList.items}}
    <li class="sas-collection__entry sas-card">
      <div class="sas-card__media sas-card-media">
        <img class="sas-card-media__image" src="{{ images.[1].url }}" alt="{{ name }}" />
      </div>
      <h2 class="sas-card__name">{{ name }}</h2>
      <a class="sas-card__button" href="/albums/{{ id }}">View Albums</a>
    </li>
    {{/each}}
  </ul>
</section>